---
sudo: false

language: ruby

cache: bundler

rvm:
  - 2.3.8
  - 2.4.7
  - 2.5.7
  - 2.6.5
  - ruby-head

before_install: 
  - gem install bundler -v 2.0.1

script: "bundle exec rake test"

notifications:
  email: false
